{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue !</h1>

<p>Do amet qui in minim elit velit aliqua laborum sunt sint minim. Incididunt enim exercitation voluptate adipisicing ad commodo ex. Ex excepteur in proident eu ex. Esse aute labore irure aliquip.

Commodo ad eiusmod magna ad labore fugiat magna. Pariatur occaecat adipisicing velit mollit veniam aute cupidatat id culpa qui ea fugiat incididunt elit. Eu reprehenderit eu duis reprehenderit reprehenderit ea. Quis aute ullamco laborum occaecat velit minim labore officia ipsum aute officia consequat fugiat commodo. Culpa pariatur reprehenderit amet dolor. Lorem ullamco magna aliqua ad culpa Lorem.

Culpa tempor ut mollit aute incididunt exercitation. Sit ea minim incididunt amet. Tempor et esse enim nisi veniam magna dolor velit.</p>

{% endblock %}